@model IEnumerable<HCI_Project.Models.Family>
@{
    ViewBag.Title = "Families";
}

<h2>Families</h2>
<p>
    Select from @Model.Count()
    families:
</p>
<ul>
    @foreach (var family in Model)
            {
        <li>@family.familyname, @family.city, @family.state</li>      
          @Html.ActionLink("Details", "Details", new { id = family.id })
    }
</ul>

